$addtodo-section-width: 22%;
$section-border-radius: 0px;
$section-bc-color: rgb(250, 250, 250);

$input-border-radius: 5px;
$input-height: 40px;
$input-font-size: 1.38rem;

$input-box-shadow: rgba(88, 92, 95, 0.2) 0px 0px 15px;

$todo-input-color: rgb(51, 39, 160);
$cat-input-color: rgb(47, 63, 116);

$cat-select-color: #8c00ff;

.App {
    height: 100vh;
    
    .background {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: linear-gradient(135deg, #0079BF, #0079BF);
        z-index: -1;
    }

    .wrapper {
        display: flex;
        // padding: 50px;
        height: 100%;

        .addtodo-section {
            width: $addtodo-section-width;
            background-color: $section-bc-color;
            border-radius: $section-border-radius;
            display: flex;
            flex-direction: column;
            // margin-right: 40px;
            box-shadow: rgba(88, 92, 95, 0.2) 0px 8px 24px;
            padding: 12px;
    
            h3 {
                font-size: 2.3rem;
                font-weight: 500;
                text-align: center;
                margin-bottom: 15px;
            }
    
            .todo-input-wrapper {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                box-shadow: $input-box-shadow;
    
                input {
                    flex: 1;
                    height: $input-height;
                    font-size: $input-font-size;
                    padding: 0 10px;
                    border-right: none;
                    border-top-left-radius: $input-border-radius;
                    border-bottom-left-radius: $input-border-radius;
                    border: 2px solid #500CF7;
                    
                    &:focus {
                        outline: none;
                    }
                }

                .add-btn {
                    height: $input-height;
                    background: linear-gradient(90deg, #500CF7, #8E00F7);
                    border: none;
                    border-top-right-radius: $input-border-radius;
                    border-bottom-right-radius: $input-border-radius;
                    color: #fff;
                    font-weight: 500;
                    font-size: 1.4rem;
                    padding: 0 12px;
                    cursor: pointer;
                }
            }

            h4 {
                font-size: 1.8rem;
                margin-bottom: 10px;
            }

            .cat-input-wrapper {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                box-shadow: $input-box-shadow;
    
                input {
                    flex: 1;
                    height: $input-height;
                    font-size: $input-font-size;
                    padding: 0 10px;
                    border-right: none;
                    border-top-left-radius: $input-border-radius;
                    border-bottom-left-radius: $input-border-radius;
                    border: 2px solid #249dff;
                    
                    &:focus {
                        outline: none;
                    }
                }

                .addcat-btn {
                    height: $input-height;
                    background: linear-gradient(90deg, #249dff, #0f6fff);
                    border: none;
                    border-top-right-radius: $input-border-radius;
                    border-bottom-right-radius: $input-border-radius;
                    color: #fff;
                    font-weight: 500;
                    font-size: 1.1rem;
                    padding: 0 6px;
                    cursor: pointer;
                }
            }

            .cat-list {
                height: 100%;
                background-color: #e7eff698;
                border-radius: 8px;
                padding: 6px;
                
                .cat-select {
                    background-color: #fff;
                    min-height: 48px;
                    padding: 10px 10px;
                    margin-bottom: 6px;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    position: relative;
                    cursor: pointer;
                    box-shadow: rgba(88, 92, 95, 0.2) 0px 0px 2px;
                    border: 2.5px solid #fff;
                    transition: 0.1s ease-out;
                    
                    &.cat-select--selecting {
                        border-color: $cat-select-color;
                    }
                    
                    .cat-select-name {
                        // flex: 1;
                        font-size: 1.4rem;
                        font-weight: 500;
                        line-height: 20px;
                        word-break: break-all;
                        margin-right: 5px;
                    }

                    .cat-select-box {
                        $ratio: 10;
                        position: absolute;
                        right: calc(-8px * $ratio + 18px);
                        top: calc(50% - calc(8px * $ratio));
                        height: calc(16px * $ratio);
                        width: calc(16px * $ratio);
                        transform: scale(calc(1 / $ratio));
                        border-radius: 50%;
                        border: calc(2px * $ratio) solid $cat-select-color;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .cat-select-dot {
                            width: calc(9px * $ratio);
                            height: calc(9px * $ratio);
                            border-radius: 50%;
                            background-color: #fff;
                            transition: 0.1s ease-out;
                            
                            &.cat-select-dot--selecting {
                                background-color: $cat-select-color;
                            }
                        }
                    }
                }
            }
        }
    
        .todolist-section {
            width: calc(100% - $addtodo-section-width);
            height: 100%;
            // background-color: $section-bc-color;
            border-radius: $section-border-radius;
            // box-shadow: rgba(88, 92, 95, 0.2) 0px 8px 24px;
            display: flex;
            justify-content: start;
            align-items: flex-start;
            flex-wrap: nowrap;
            padding: 20px 0;
            overflow-x: auto;
            overflow-y: hidden;
        }
    }
}