
// @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;440;500;510&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #333;
}

input, button {
    font-family: inherit;
}

.todo-icon {
    cursor: pointer;
    transition: 0.15s;
    
    &:hover {
        transform: scale(1.25);
    }
}