
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;440;500;510&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.todo-icon {
    cursor: pointer;
    transition: 0.15s;
    
    &:hover {
        transform: scale(1.25);
    }
}