
.todo {
    min-height: 38px;
    margin-bottom: 10px;
    // background-color: rgb(255, 51, 51);
    color: #fff;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px 8px 12px;
    border-radius: 3px;
    transition: 0.2s ease-out;
    
    &:last-child {
        margin-bottom: 0;
    }
    
    .todo_name {
        font-size: 1.5rem;
        line-height: 20px;
        // font-weight: 440;
        padding-right: 10px;
        position: relative;
        
        &::before {
            content: '';
            position: absolute;
            width: calc(100% - 5px);
            height: 1px;
            top: 49%;
            left: -2px;
            background-color: #fff;
            transform-origin: left;
            transform: scaleX(0);
            transition: 0.15s ease-out;
        }
    }
    
    &.todo--done {
        opacity: 0.3;
        
        .todo_name {
            &::before {
                transform: scaleX(100%);
            }
        }
    }

    .todo_icon-section {
        display: flex;
        align-items: center;
        
        .todo-delete-icon {
            font-size: 1.6rem;
            margin-right: 7px;
        }
        
        .todo-done-icon {
            font-size: 1.6rem;
        }
    }
}