
$settings-border-radius: 3px;

$theme-option-width: 86px;
$theme-option-height: 54px;
        
.header {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: var(--dark-color);
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 20;

    .header_page-name {
        flex: 1;
        font-size: 2rem;
        color: #fff;
    }

    .header_menu {
        position: absolute;
        width: 320px;
        top: 45px;
        right: 4px;
        background-color: #fff;
        border-radius: $settings-border-radius;
        box-shadow: rgba(0, 0, 0, 0.4) 0 0 12px 0;
        z-index: -1;
        padding: 15px;

        .header_menu_header {
            text-align: center;
            padding-bottom: 10px;
            font-size: 1.8rem;
            font-weight: 500;
            border-bottom: 1px solid #ccc;
        }

        .header_menu_container {
            .header_menu_part {
                margin: 15px 0;
                padding: 0 8px;

                &:last-child {
                    margin-bottom: 5px;
                }

                .header_menu_part_title {
                    font-size: 1.4rem;
                    font-weight: 500;
                    margin-bottom: 6px;
                }
            }
        }
    }

    .search-filter {
        margin-right: 5px;

        .search-filter-wrapper {
            height: 36px;
            background-color: var(--light-color);
            display: flex;
            align-items: center;
            padding: 0 12px;
            color: #fff;
            border-radius: 4px;
            cursor: pointer;

            .filter-icon {
                font-size: 1.5rem;
                margin-right: 10px;
            }

            span {
                font-size: 1.4rem;
                cursor: pointer;

                &::selection {
                    background-color: inherit;
                    color: inherit;
                }
            }

            &:hover {
                background-color: var(--lightest-color);
            }

            &.search-filter-wrapper--active {
                background-color: rgba(255, 255, 255, 0.92);
                color: #555;

                &:hover {
                    background-color: #fff;
                }
            }
        }

        .search-filter_menu {
            .search-filter_menu_container {
                .search-filter_menu_part {
                    padding: 0;
                    margin-bottom: 20px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .search-filter_search-wrapper {
                        height: 36px;
                        background-color: #fff;
                        display: flex;
                        align-items: center;
                        border-radius: 5px;
                        margin-right: 5px;
                        border: 2px solid rgba(170, 170, 170, 0.5);
                        z-index: 2;
                        transition: 0.15s ease-out;

                        &:hover {
                            border: 2px solid rgba(170, 170, 170, 0.8);
                        }
                        
                        &.search--focus {
                            border: 2px solid #0079bf;
                        }
                
                        .search-filter_search-icon {
                            font-size: 2rem;
                            color: #666;
                            margin: 0 5px 0 10px;
                        }
                
                        input {
                            height: 100%;
                            flex: 1;
                            border: none;
                            outline: none;
                            line-height: 20px;
                            font-size: 1.4rem;
                            color: #555;
                
                            &:hover {
                                outline: none;
                            }
                        }

                        .search-filter_clear-icon {
                            font-size: 1.4rem;
                            color: #666;
                            cursor: pointer;
                            margin: 0 8px 0 4px;
                        }
                    }

                    .search-filter_select {
                        margin-top: 8px;
                        display: flex;
                        justify-content: space-between;

                        .search-filter_option {
                            width: 50%;
                            display: flex;
                            align-items: center;
                            z-index: 2;
                            cursor: pointer;

                            .checkbox {
                                width: 16px;
                                height: 16px;

                                .checkbox_tick {
                                    font-size: 1rem;
                                }
                            }

                            span {
                                font-size: 1.3rem;
                                cursor: pointer;
                            }
                        }
                    }

                    &.search-filter_deleted {
                        display: flex;
                        justify-content: end;

                        .search-filter_deleted-toggle {
                            display: flex;
                            align-items: center;
                            z-index: 2;
                            cursor: pointer;
                            background-color: #ff5454;
                            padding: 8px 14px;
                            border-radius: 5px;

                            .checkbox {
                                width: 14px;
                                height: 14px;
                                border: none;

                                .checkbox_tick {
                                    font-size: 1rem;
                                }
                            }

                            .search-filter_deleted-toggle_text {
                                color: #fff;
                                font-size: 1.4rem;
                                font-weight: 500;
                                cursor: pointer;
                                margin-left: 3px;
                                margin-top: 1px;

                                .trash-can-icon {
                                    margin-right: 4px;
                                }

                                span {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .settings {
        margin-top: 5px;
        margin-right: -16px;
        
        .settings-wrapper {
            padding: 6px 18px 10px;
            background-color: transparent;
            border-radius: 0;
        
            .setting-icon {
                font-size: 2.5rem;
                color: #fff;
                transform: rotate(0);
                cursor: pointer;
                transition: transform 0.2s ease-out, color 0s;
            }
            
            &.settings-wrapper--active {
                background-color: #fff;
                border-top-left-radius: $settings-border-radius;
                border-top-right-radius: $settings-border-radius;
                
                .setting-icon {
                    color: #555;
                    transform: rotate(60deg);
                }
            }
        }
        
        .settings_menu {
            .settings_menu_container {
                .settings_menu_part {
                    .settings_menu_part_title {
                        display: flex;
                        align-items: center;
    
                        .settings_menu_part_title_icon {
                            width: 20px;
                            font-size: 1.7rem;
                            margin-right: 5px;
                        }
                    }
                }

                .settings_menu_language {
                    display: flex;
                    align-items: center;
                    z-index: 10;

                    .settings_menu_part_title {
                        margin-bottom: 0;

                        span {
                            width: 65px;
                        }
                    }

                    .settings_menu_language_select {
                        margin-left: 10px;
                        position: relative;
                        font-size: 1.3rem;

                        .settings_menu_language_flag {
                            width: 16px;
                            margin-right: 5px;
                            cursor: pointer;
                        }

                        .settings_menu_language_select-box {
                            height: 28px;
                            width: 120px;
                            padding: 0 8px;
                            border-radius: 14px;
                            border: none;
                            border: 1px solid #ccc;
                            background-color: rgb(250, 250, 250);
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            cursor: pointer;

                            .settings_menu_language_select-box_text {
                                display: flex;
                                align-items: center;
                            }

                            span {
                                cursor: pointer;
                            }

                            &:hover {
                                background-color: rgb(240, 240, 240);
                            }
                        }

                        .settings_menu_language_select_options {
                            position: absolute;
                            width: 100%;
                            top: 105%;
                            right: 0;
                            border-radius: 3px;
                            background-color: rgb(240, 240, 240);
                            border: 1px solid #ccc;
                            padding: 4px 0;
                            
                            .settings_menu_language_select_option-item {
                                width: 100%;
                                height: 28px;
                                cursor: pointer;
                                background-color: rgb(240, 240, 240);
                                display: flex;
                                align-items: center;
                                padding-left: 8px;

                                span {
                                    cursor: pointer;
                                }

                                &:hover {
                                    background-color: #fff;
                                }

                                &.selecting-lang {
                                    background-color: #fff;
                                }
                            }
                        }
                    }
                }

                .settings_menu_theme {
                    padding-top: 5px;

                    .settings_menu_theme_select {
                        margin-top: 10px;
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;

                        .settings_menu_theme_option {
                            width: $theme-option-width;
                            height: $theme-option-height;
                            margin-bottom: 7px;
                            border-radius: 3px;
                            cursor: pointer;
                            border-radius: 4px;
                            z-index: 2;
                            border: 2px solid transparent;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .settings_menu_theme_option_inner {
                                width: calc($theme-option-width - 4px);
                                height: calc($theme-option-height - 4px);
                                cursor: pointer;
                                border-radius: 2px;

                                .theme_option_header {
                                    width: 100%;
                                    height: 20%;
                                    cursor: pointer;
                                }

                                .theme_option_content {
                                    height: 80%;
                                    display: flex;
                                    align-items: flex-start;
                                    cursor: pointer;

                                    .theme_option_cat {
                                        width: 18%;
                                        background-color: rgb(245, 245, 245);
                                        border-radius: 1px;
                                        margin: 4% 4% 0 0;
                                        cursor: pointer;

                                        &:first-child {
                                            margin-left: 4%;
                                            height: 25%;
                                        }

                                        &:nth-child(2) {
                                            height: 40%;
                                        }

                                        &:nth-child(3) {
                                            height: 32%;
                                        }

                                        &:last-child {
                                            height: 8%;
                                        }
                                    }
                                }
                            }

                            &:hover {
                                border: 3px solid rgb(190, 190, 190);
                                
                                .settings_menu_theme_option_inner {
                                    width: calc($theme-option-width - 8px);
                                    height: calc($theme-option-height - 8px);
                                }
                            }

                            &.theme--selecting {
                                border: 3px solid #006aa8;
                                
                                .settings_menu_theme_option_inner {
                                    width: 78px;
                                    height: 46px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}